
.App{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, rgb(43, 0, 78), rgb(0, 0, 0));
  color: aliceblue;
}

button.btn{
  font-size: 5px;
  width: 100%;
  background: linear-gradient(120deg, rgb(0, 0, 0), rgb(112, 1, 116));
  border: purple 2px solid;
}
.calcCard.card{
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(71, 2, 128));
}
@media (max-width: 576px){
  .card-body{
    padding: 2px;
  }
  .col{
    padding: 5px;
  }
  .calcCard.card{
    width: 50%;
    height: 60%;
    border-radius: 5px;
  }
  button.btn{
    font-size: 5px;
  }
}

@media (min-width: 576px){
  .card-body{
    padding: 5px;
  }
  .col{
    padding: 5px;
  }
  .calcCard.card{
    width: 50%;
    height: 60%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  button.btn.btn-danger{
    font-size: 15px;
    height: 100%;
  }
  
}
@media (min-width: 768px){
  .card-body{
    padding: 10px;
  }
  .calcCard.card{
    width: 50%;
    height: 70%;
    border-radius: 5px;
  }
  
  button.btn.btn-danger{
    font-size: 20px;
    height: 100%;
  }
  
}
@media (min-width: 992px){
  .card-body{
    padding: 15px;
  }
  .calcCard.card{
    width: 50%;
    height: 60%;
    border-radius: 5px;
  }
  
  button.btn{
    font-size: 45px;
  }

}
@media (min-width: 1200px){
  .card-body{
    padding: 20px;
  }
  .calcCard.card{
    width: 50%;
    height: 60%;
    border-radius: 5px;
  }
  
  button.btn{
    font-size: 60px;
    height: 100%;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
